header{
    border: solid 1px pink;
    height: 80px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    border: solid 2px pink;
    height: 60px;
    width:10%;
    display: flex;
    justify-content: center;

}

.logo img{
    width: 42%;
}

.pesquisa{
    border: solid 2px pink;
    height: 60px;
    width:50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pesq{
     width: 95%;
    border: solid 1px #351d01;
   border-radius: 28px;
    height: 27px;
}
.iconFace{
     fill: black;
    height: 25px;

}
    

.login{
    border: solid 2px pink;
    height: 60px;
    width:15%;
    display: flex;
}

.bemVindas{
    width: 50%;
    border: solid 1px #351d01;
}

.icone{
    width: 50%;
    border: solid 1px #351d01;
    display: flex;
    justify-content: start;
    align-items: center;
}



nav{
    border: solid 2px pink;
    height: 80px;
    width: 100%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu{
    border: solid 2px pink;
    width: 80%;
    height: 60px;

}

/* //ate aqui */

.menu2{
    border: solid 2px rgb(173, 97, 218);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuPrincipal{
    border: solid 2px rgb(120, 166, 235);
    width: 60%;
    height: 60px;
     

}

