header{
    border: solid 1px pink;
    height: 80px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    border: solid 2px pink;
    height: 60px;
    width:10%;
}

.pesquisa{
    border: solid 2px pink;
    height: 60px;
    width:50%;
}

.login{
    border: solid 2px pink;
    height: 60px;
    width:15%;
}

nav{
    border: solid 2px pink;
    height: 80px;
    width: 100%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}.menu{
    border: solid 2px pink;
    width: 80%;
    height: 60px;

}

/* //ate aqui */

.menu2{
    border: solid 2px rgb(173, 97, 218);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuPrincipal{
    border: solid 2px rgb(120, 166, 235);
    width: 60%;
    height: 60px;
     

}

